.wrapper {
  height: 100vh;
  background-color: red;
  button {
    padding: 1rem 2rem;
    background-color: white;
    position: fixed;
    cursor: pointer;
    &:hover {
      background-color: yellow;
    }
  }
  .b1 {
    top: 100px;
    left: 100px;
  }
  .b2 {
    top: 100px;
    right: 100px;
  }
  .b3 {
    left: 100px;
    top: 500px;
  }
  .b4 {
    right: 100px;
    top: 500px;
  }
}
